---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install common packages
  ansible.builtin.apt:
    name:
      - build-essential
      - curl
      - git
      - python3-pip
      - python3-venv
      - pipx
    state: present
  become: true
